<h1 class="m-1">Stupid coaching</h1>
<div class="container m-1 p-0">
  <form action="/answer">
    <div class="row">
      <label for="question" class="col-12 form-label">Ask your coach anything:</label>
    </div>
    <div class="row m-0">
      <input type="text" name="question" class="col-4">
      <input type="submit" value="Ask!" class="col-1 btn btn-primary">
    </div>
  </form>
</div>
